{
	"useTabs": true,
	"tabWidth": 1,
	"printWidth": 80,
	"quoteProps": "consistent",
	"trailingComma": "all",
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderCaseInsensitive": true,
	"importOrder": [
		"^node:(.*)$",
		"<THIRD_PARTY_MODULES>",
		"^@cometa/(.*)$",
		"^[./]"
	]
}
